
body.login-register-body {
    background: url(/uploads/background.jpg) no-repeat fixed center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
    font-family: 'Quicksand', sans-serif;
}

form.login-register-form {
    font-size: 25px;
}

.login-register-button,
input.login-register,
select.login-register {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
}

input.login-register,
select.login-register {
    margin-bottom: 15px;
    width: 500px;
}

div.login-register-box {
    background: rgb(179 179 179 / 75%);
    width: fit-content;
    padding: 50px;
    border-radius: 100px;
    box-shadow: 0px 0px 100PX 100PX rgb(96 96 96 / 75%);
}

form.login-register-form input[type=submit],
form.login-register-form a,
.login-register-button {
    margin-bottom: 15px;
    width: 500px;
    background-color: #2196f3;
    color: white;
}

h1.login-h,
h3.login-h {
    color: white;
}

span.slide-arrow {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

span.slide-arrow:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
}

a:hover span.slide-arrow {
    padding-right: 25px;
    color: white;
}

a:hover span.slide-arrow:after {
    opacity: 1;
    right: 0;
}


.rainbow {
    cursor: pointer;
}

.rainbow-5:hover {
    background-image: linear-gradient(to right,
            #2196f3,
            #2196f3 16.65%,
            white 16.65%,
            white 33.3%,
            #2196f3 33.3%,
            #2196f3 49.95%,
            white 49.95%,
            white 66.6%,
            #2196f3 66.6%,
            #2196f3 83.25%,
            white 83.25%,
            white 100%,
            #2196f3 100%);
    animation: slidebg 2s linear infinite;
    transition: 0.5s;
    color: black;
}


@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

/* #brown-box {
    width: 85%;
    margin-left: 7.5%;
    width: 85%; 
    height: 90%;
    background: #241414;
    margin-left: 7.5%;
} */

div.listingIndex {
    margin-top:150px; 
    height: 90%; 
    width: 90%;
}

div.createListing {
    margin-top:150px;
}

.welcome {
    background: #2196f3;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

div.main {
    margin-top: 175px;
    margin-left: 2vw;
}